Gobiner.SecureRepl.CommandLine/Service References/Wcf/Repl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Repl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepl_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IRepl_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IRepl_Kill_InputMessage">
    <wsdl:part name="parameters" element="tns:Kill" />
  </wsdl:message>
  <wsdl:message name="IRepl_Kill_OutputMessage">
    <wsdl:part name="parameters" element="tns:KillResponse" />
  </wsdl:message>
  <wsdl:message name="IRepl_KeepAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:KeepAlive" />
  </wsdl:message>
  <wsdl:message name="IRepl_KeepAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeepAliveResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepl">
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepl/Execute" message="tns:IRepl_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepl/ExecuteResponse" message="tns:IRepl_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kill">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepl/Kill" message="tns:IRepl_Kill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepl/KillResponse" message="tns:IRepl_Kill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepl/KeepAlive" message="tns:IRepl_KeepAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepl/KeepAliveResponse" message="tns:IRepl_KeepAlive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepl" type="tns:IRepl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/IRepl/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kill">
      <soap:operation soapAction="http://tempuri.org/IRepl/Kill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <soap:operation soapAction="http://tempuri.org/IRepl/KeepAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Repl">
    <wsdl:port name="BasicHttpBinding_IRepl" binding="tns:BasicHttpBinding_IRepl">
      <soap:address location="http://localhost:8000/Repl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>